.parent {
    display: flex;
}
.parent .child {
    flex: 1;
}
h1 {
    border: 4px dashed yellowgreen;
    padding-left: 10px;
}
.bad-people{
    color:red;
}
.people{
    background-color: blueviolet;
}
#message{
    color:white;
    background-color:black;
    text-align: left;
}
img {
    height: auto;
    width: 50px;
}
body {
    background-image: url("./images/backg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}